.ss-pricing .pointer-events-none {
  pointer-events: none
}

.ss-pricing .visible {
  visibility: visible
}

.ss-pricing .absolute {
  position: absolute
}

.ss-pricing .relative {
  position: relative
}

.ss-pricing .inset-0 {
  inset: 0px
}

.ss-pricing .inset-x-\[10\%\] {
  left: 10%;
  right: 10%
}

.ss-pricing .left-1\/2 {
  left: 50%
}

.ss-pricing .top-0 {
  top: 0px
}

.ss-pricing .top-12 {
  top: 3rem
}

.ss-pricing .isolate {
  isolation: isolate
}

.ss-pricing .z-10 {
  z-index: 10
}

.ss-pricing .mx-auto {
  margin-left: auto;
  margin-right: auto
}

.ss-pricing .my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.ss-pricing .mb-10 {
  margin-bottom: 2.5rem
}

.ss-pricing .mb-2 {
  margin-bottom: 0.5rem
}

.ss-pricing .mt-1 {
  margin-top: 0.25rem
}

.ss-pricing .mt-2 {
  margin-top: 0.5rem
}

.ss-pricing .inline-block {
  display: inline-block
}

.ss-pricing .flex {
  display: flex
}

.ss-pricing .inline-flex {
  display: inline-flex
}

.ss-pricing .grid {
  display: grid
}

.ss-pricing .hidden {
  display: none
}

.ss-pricing .h-10 {
  height: 2.5rem
}

.ss-pricing .h-2 {
  height: 0.5rem
}

.ss-pricing .h-80 {
  height: 20rem
}

.ss-pricing .h-\[70\%\] {
  height: 70%
}

.ss-pricing .h-px {
  height: 1px
}

.ss-pricing .max-h-44 {
  max-height: 11rem
}

.ss-pricing .w-2 {
  width: 0.5rem
}

.ss-pricing .w-\[120\%\] {
  width: 120%
}

.ss-pricing .w-fit {
  width: -moz-fit-content;
  width: fit-content
}

.ss-pricing .w-full {
  width: 100%
}

.ss-pricing .max-w-4xl {
  max-width: 56rem
}

.ss-pricing .-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ss-pricing .flex-wrap {
  flex-wrap: wrap
}

.ss-pricing .items-start {
  align-items: flex-start
}

.ss-pricing .items-center {
  align-items: center
}

.ss-pricing .items-baseline {
  align-items: baseline
}

.ss-pricing .justify-center {
  justify-content: center
}

.ss-pricing .justify-between {
  justify-content: space-between
}

.ss-pricing .gap-2 {
  gap: 0.5rem
}

.ss-pricing .gap-3 {
  gap: 0.75rem
}

.ss-pricing .gap-4 {
  gap: 1rem
}

.ss-pricing :is(.space-y-10 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse))
}

.ss-pricing :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.ss-pricing :is(.space-y-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}

.ss-pricing .overflow-hidden {
  overflow: hidden
}

.ss-pricing .overflow-y-auto {
  overflow-y: auto
}

.ss-pricing .rounded-2xl {
  border-radius: 1rem
}

.ss-pricing .rounded-3xl {
  border-radius: 1.5rem
}

.ss-pricing .rounded-full {
  border-radius: 9999px
}

.ss-pricing .border {
  border-width: 1px
}

.ss-pricing .border-4 {
  border-width: 4px
}

.ss-pricing .border-t {
  border-top-width: 1px
}

.ss-pricing .border-blue-600\/70 {
  border-color: rgb(37 99 235 / 0.7)
}

.ss-pricing .border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1))
}

.ss-pricing .border-neutral-800 {
  --tw-border-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-border-opacity, 1))
}

.ss-pricing .border-neutral-800\/60 {
  border-color: rgb(38 38 38 / 0.6)
}

.ss-pricing .border-neutral-800\/80 {
  border-color: rgb(38 38 38 / 0.8)
}

.ss-pricing .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.ss-pricing .bg-blue-500\/80 {
  background-color: rgb(59 130 246 / 0.8)
}

.ss-pricing .bg-blue-600\/80 {
  background-color: rgb(37 99 235 / 0.8)
}

.ss-pricing .bg-indigo-500\/80 {
  background-color: rgb(99 102 241 / 0.8)
}

.ss-pricing .bg-neutral-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1))
}

.ss-pricing .bg-neutral-900\/60 {
  background-color: rgb(23 23 23 / 0.6)
}

.ss-pricing .bg-\[radial-gradient\(circle_at_center\2c rgba\(59\2c 130\2c 246\2c 0\.18\)_0\%\2c rgba\(59\2c 130\2c 246\2c 0\)_70\%\)\] {
  background-image: radial-gradient(circle at center,rgba(59,130,246,0.18) 0%,rgba(59,130,246,0) 70%)
}

.ss-pricing .bg-\[radial-gradient\(circle_at_center\2c rgba\(59\2c 130\2c 246\2c 0\.25\)_0\%\2c rgba\(0\2c 0\2c 0\2c 0\)_60\%\)\] {
  background-image: radial-gradient(circle at center,rgba(59,130,246,0.25) 0%,rgba(0,0,0,0) 60%)
}

.ss-pricing .bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.ss-pricing .bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.ss-pricing .from-blue-500 {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ss-pricing .from-neutral-900 {
  --tw-gradient-from: #171717 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(23 23 23 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ss-pricing .from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ss-pricing .via-indigo-500\/40 {
  --tw-gradient-to: rgb(99 102 241 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(99 102 241 / 0.4) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.ss-pricing .via-neutral-800\/60 {
  --tw-gradient-to: rgb(38 38 38 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(38 38 38 / 0.6) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.ss-pricing .via-neutral-800\/70 {
  --tw-gradient-to: rgb(38 38 38 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(38 38 38 / 0.7) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.ss-pricing .to-blue-600 {
  --tw-gradient-to: #2563eb var(--tw-gradient-to-position)
}

.ss-pricing .to-neutral-900 {
  --tw-gradient-to: #171717 var(--tw-gradient-to-position)
}

.ss-pricing .to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.ss-pricing .p-1 {
  padding: 0.25rem
}

.ss-pricing .p-6 {
  padding: 1.5rem
}

.ss-pricing .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.ss-pricing .px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.ss-pricing .px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.ss-pricing .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.ss-pricing .py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.ss-pricing .pb-2 {
  padding-bottom: 0.5rem
}

.ss-pricing .pb-4 {
  padding-bottom: 1rem
}

.ss-pricing .pr-1 {
  padding-right: 0.25rem
}

.ss-pricing .pt-0 {
  padding-top: 0px
}

.ss-pricing .pt-4 {
  padding-top: 1rem
}

.ss-pricing .text-left {
  text-align: left
}

.ss-pricing .text-center {
  text-align: center
}

.ss-pricing .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.ss-pricing .text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.ss-pricing .text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.ss-pricing .text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.ss-pricing .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.ss-pricing .text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.ss-pricing .font-medium {
  font-weight: 500
}

.ss-pricing .font-semibold {
  font-weight: 600
}

.ss-pricing .uppercase {
  text-transform: uppercase
}

.ss-pricing .leading-relaxed {
  line-height: 1.625
}

.ss-pricing .tracking-wide {
  letter-spacing: 0.025em
}

.ss-pricing .text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity, 1))
}

.ss-pricing .text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1))
}

.ss-pricing .text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.ss-pricing .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.ss-pricing .opacity-70 {
  opacity: 0.7
}

.ss-pricing .shadow-\[0_0_18px_rgba\(37\2c 99\2c 235\2c 0\.65\)\] {
  --tw-shadow: 0 0 18px rgba(37,99,235,0.65);
  --tw-shadow-colored: 0 0 18px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-\[0_0_60px_rgba\(37\2c 99\2c 235\2c 0\.25\)\] {
  --tw-shadow: 0 0 60px rgba(37,99,235,0.25);
  --tw-shadow-colored: 0 0 60px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-\[0px_-13px_200px_0px_rgba\(37\2c 99\2c 235\2c 0\.35\)\] {
  --tw-shadow: 0px -13px 200px 0px rgba(37,99,235,0.35);
  --tw-shadow-colored: 0px -13px 200px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-\[0px_-6px_120px_0px_rgba\(15\2c 23\2c 42\2c 0\.25\)\] {
  --tw-shadow: 0px -6px 120px 0px rgba(15,23,42,0.25);
  --tw-shadow-colored: 0px -6px 120px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-\[0px_-6px_120px_0px_rgba\(15\2c 23\2c 42\2c 0\.35\)\] {
  --tw-shadow: 0px -6px 120px 0px rgba(15,23,42,0.35);
  --tw-shadow-colored: 0px -6px 120px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ss-pricing .shadow-blue-600 {
  --tw-shadow-color: #2563eb;
  --tw-shadow: var(--tw-shadow-colored)
}

.ss-pricing .shadow-blue-900\/30 {
  --tw-shadow-color: rgb(30 58 138 / 0.3);
  --tw-shadow: var(--tw-shadow-colored)
}

.ss-pricing .ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ss-pricing .ring-blue-500\/40 {
  --tw-ring-color: rgb(59 130 246 / 0.4)
}

.ss-pricing .blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ss-pricing .blur-2xl {
  --tw-blur: blur(40px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ss-pricing .blur-3xl {
  --tw-blur: blur(64px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ss-pricing .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ss-pricing .transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ss-pricing .transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

@media (min-width: 640px) {
  .ss-pricing .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .ss-pricing .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .ss-pricing .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .ss-pricing .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
}

@media (min-width: 768px) {
  .ss-pricing .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}
